.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: space-around;
    
}
.card{
    width: 23%;
    height: auto;
    margin-bottom: 10px;
}
mat-card-actions > button {
    background-color: blue;
    color: white;
    border: 1px solid white;
    width: 100%;
}